.contenido-principal {
    width: 600px;
    margin: 0 auto 0;
    text-align: center;
}

.contenido-principal .titulo h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #001843;
    margin-bottom: 0.8rem;
}

.contenido-principal .subtitulo p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #7E7A7A;
}

.tabla {
    display: flex;
    justify-content: center;
}

.contenido-izq {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-between;
}

.caja {
    width: calc(50% - 20px);
    padding: 10px 20px;
    display: flex;
    gap: 6rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.caja .primero {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.caja .primero .imagen img {
    width: 90%;
}

.seccion {
    width: 142px;
}

.titulo-caja h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: #001843;
    margin: 7px 0 5px;
}

.descripcion-caja p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12.1px;
    color: #ABAAAA;
}

.caja .segundo {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

.radio-button {
    width: 28px;
    height: 28px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ABAAAA;
    box-shadow: 0 0 5px rgb(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
}

.radio-button::after {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-color: #ABAAAA;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

input:checked + label .radio-button::after {
    opacity: 1;
}

input:checked + label .radio-button {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 4.3rem;
}

.opciones button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}

.boton-primario button {
    background-color: #FF7900;
}

.boton-primario button:active {
    background-color: #d16201;
}

.boton-secundario button {
    background-color: #001843;
}

.boton-secundario button:active {
    background-color: #002d80;
}