@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

a {
  text-decoration: none;
  color: #001843;
}

nav {
  display: flex;
  background-color: #001843;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #032f80;
  padding: 10px;
}

nav > img {
  width: 120px;
}

nav a i {
  color: white;
  cursor: pointer;
}

main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---- Activación ----*/
/*Notificación*/
.notificacion {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 10px;
  border-radius: 20px;
  position: absolute;
  font-size: 0.8rem;
  width: 70%;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 500px;
}

.bcp_alerta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.bcp_alerta > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bcp_alerta > img {
  width: 80px;
}

.notificacion > div > span {
  color: #032f80;
  font-weight: 500;
  font-size: 1.2em;
}

.bcp_alerta > div > span {
  color: #ae0c0c;
}

.notificacion > div > h3 {
  margin-top: 5px;
  color: #ff7900;
  font-weight: 700;
}

#alerta_exito_activacion {
  text-align: left;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#alerta_exito_activacion i {
  font-size: 2.5rem;
}

#alerta_exito_activacion span {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}

.close {
  display: none !important;
}

#error_activacion {
  font-size: 14px;
  font-weight: 600;
  color: red;
  padding: 0px;
}

/*alerta otp yape*/

#alerta_codigo_otp {
  font-size: 16px;
  text-align: left;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#alerta_codigo_otp i {
  font-size: 2.5rem;
}

#alerta_codigo_otp span {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

#alerta_codigo_otp #codigoOTP {
  font-size: 1.2rem;
}

/*primer cuadro*/
.primer_cuadro {
  width: 90%;
  margin: 20px auto;
  padding: 0 20px;
}

.primer_cuadro > p {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  background: lightgray;
  border-radius: 14px;
  margin-bottom: 20px;
}

.primer_cuadro li {
  font-weight: 600;
  color: #011844;
}

/*segundo cuadro*/
.segundo_cuadro {
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan_seguro {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px 5px 10px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 2px 2px 5px;
  margin-bottom: 20px;
}

.plan_seguro h4 {
  color: #ff7900;
}

.plan_seguro > img {
  width: 50px;
  margin: 0px 10px;
}

.segundo_cuadro > form a {
  text-decoration: none;
}

.segundo_cuadro .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.segundo_cuadro > form {
  width: 100%;
}

.segundo_cuadro > p {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.segundo_cuadro input {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 4px;
  margin: 3px 0px;
}

.segundo_cuadro .checkbox {
  width: 10%;
}

.segundo_cuadro button {
  padding: 6px 30px;
  background: #ff7900;
  color: #ffff;
  border: transparent;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
}
.segundo_cuadro button:hover {
  background: #f48728;
  color: #ffffff;
  transition: background 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* --- Principal ---*/
.cuadro_superior {
  background-color: #011844;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.derecha {
  padding-top: 30px;
  color: white;
  font-weight: 600;
}

.derecha > span {
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.izquierda {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.izquierda .hola {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6em;
}

.izquierda span {
  color: #ff7900;
  font-weight: 600;
  font-size: 1.6em;
}

.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #011844;
  overflow: hidden;
}

.circulo img {
  width: 100%;
  height: auto;
}

.cuenta_1 {
  background-color: #ffffff;
  color: #011844;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
}

.cuenta_2 {
  background-color: #ff7900;
  padding: 16px;
  width: 80%;
  margin: auto;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 10px 16px;
  border-radius: 0px 0px 10px 10px;
}

.amount {
  font-size: 1.5rem;
  font-weight: 600;
}

/*Segunda seccion*/
.fila {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 20px;
}

.fila div {
  margin: 0 auto 10px;
  text-align: center;
}

/*Circulos anaranjados*/
.circulo_naranja {
  background-color: #ff7900;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo_naranja i {
  font-size: 34px;
  color: #ffffff;
}

.circulo_naranja:hover {
  cursor: pointer;
}

/*Donaciones y Seguridad Mejorada*/
.tarjeta {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.tarjeta > div {
  display: flex;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.tarjeta > div > div:nth-last-child(1) {
  display: flex;
  gap: 10px;
  align-items: center;
}

.donaciones > div > span,
.seguridad_mejorada > div > span {
  font-weight: 600;
  color: #032f80;
}

/*Dashboard*/
.h1_dashboard {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
}

.description {
  margin-bottom: 20px;
}

.body_dashboard {
  background: linear-gradient(#001743, #00236f, #001743);
  color: #ffffff;
}

.main_dashboard > p {
  margin-bottom: 20px;
}

.col > div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 500px;
}
.col {
  margin-bottom: 20px;
  position: relative;
}

.col > h5 {
  margin-bottom: 10px;
  color: gray;
  font-weight: 500;
}

.fila_gr {
  display: grid;
}

.fila_gr .col {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
  background: #02173f;
  padding: 20px 30px;
  border-radius: 20px;
  position: relative;
}

.fila_gr .col > div {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

/**Footer**/
.footer_bar {
  border-top: 2px solid #abaaaa;
  width: 100%;
}

.footer_bar ul {
  padding: 10px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer_bar ul li {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.footer_bar ul li a {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #abaaaa;
  transition: all 0.3s ease-in-out;
}
.footer_bar ul li a:hover {
  color: #001843;
}

.footer_bar ul li .active {
  color: #001843;
}

.footer_bar span {
  display: none;
}

/*INICIO DE ESTILOS YAPE SEGURO*/
.encabezado,
.navegacion {
  background: #001843;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.encabezado img {
  height: 40px;
}

.encabezado i {
  color: white;
  font-size: 24px;
}

.navegacion span {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navegacion i {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.navegacion .interrupto {
  display: flex;
  align-items: center;
}

.navegacion .interrupto span {
  color: white;
  margin-right: 10px;
}

.navegacion .interrupto .cambiar {
  background-color: white;
  border-radius: 9999px;
  width: 40px;
  height: 20px;
  position: relative;
}

.navegacion .interrupto .cambiar::before {
  content: "";
  background-color: #ff6600;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
}

.boton-encabezado {
  background: linear-gradient(#001743, #00236f, #001743);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boton-encabezado a {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
}

.boton-encabezado .activo {
  background-color: white;
  color: #0b3d91;
}

/**Cancelar Servicio**/
.contenedor-cancelar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-cancelar > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-cancelar .contenedor-texto {
  color: #626262;
  font-weight: 500;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #a9a9a9;
}

.contenedor-cancelar .contenedor-info {
  color: #001843;
  font-weight: 600;
  text-align: left;
  padding: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.contenedor-cancelar .contenedor-info i {
  color: #ff6600;
  border: 2px solid #ff6600;
  border-radius: 50%;
  padding: 5px 10px;
}

.contenedor-cancelar .options {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contenedor-cancelar .options a {
  border: 2px solid #818181;
  color: #818181;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.contenedor-cancelar .options button {
  border: none;
  color: white;
  background-color: #ff6600;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/**Yape Seguro**/
.contenedor-yape-seguro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-fila {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.icono-fila i {
  color: #001843;
  font-size: 48px;
  margin-right: 10px;
}

.icono-fila h2 {
  color: #001843;
  font-size: 24px;
  font-weight: bold;
}

.contenedor-yape-seguro .contenedor-texto {
  max-width: 600px;
  margin: 0 auto;
}

.contenedor-yape-seguro .contenedor-texto p {
  color: #666666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.contenedor-yape-seguro .contenedor-texto button {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  white-space: pre-line;
}

/*Tabs*/

.tabs {
  background-color: #001843;
  color: white;
  padding: 10px 20px 20px;
}

.tabs a {
  color: white;
  cursor: pointer;
}

.tabs_encabezado {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.tabs_encabezado div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  .tab_title {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 20px;
  }
}

.tabs_body {
  overflow: auto;
  display: flex;
  gap: 20px;
}

.tab-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background-color: #ff6600;
  width: 150px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px;
  cursor: pointer;
  white-space: pre-line;
  font-weight: 600;
  font-size: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.tab-link.active {
  background-color: white;
  color: #001843;
}

/**Toggle Switch**/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch.disabled {
  pointer-events: none;
  opacity: 0;
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ff7900;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff7900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 768px) {
  .navegacion span {
    font-size: 18px;
  }
  .interrupto span {
    font-size: 14px;
  }
  .contenedor-yape-seguro .icono-fila i {
    font-size: 36px;
  }
  .contenedor-yape-seguro .icono-fila h2 {
    font-size: 20px;
  }
  .contenedor-texto p {
    font-size: 14px;
  }
  .contenedor-texto button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/*FIN DE ESTILOS YAPE SEGURO*/

/*ESTILOS DE LA SIMULACIÓN DE YAPE*/
.fondo-yape {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.contenedor-yape {
  position: relative;
  background-color: #990099;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenedor-datos {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-yape {
  display: block;
  text-align: center;
  margin: 0 auto 20px;
}

.contenedor-datos h2 {
  color: #333;
  margin-bottom: 10px;
}

.nombre-yape {
  color: #700070;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.monto-yape {
  font-size: 48px;
  font-weight: bold;
  color: #700070;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monto-yape span {
  font-size: 24px;
  color: #d7a7e2;
  vertical-align: super;
  margin-right: 5px;
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
}

.digitar-monto {
  font-size: 48px;
  color: #700070;
  font-weight: bold;
  width: 120px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.mensaje-fijo {
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-block;
}

.mensaje-yape {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
}

.contenedor-botones button {
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.btn-otros {
  background-color: #ffffff;
  color: #24c7b1;
  border: 1px solid #24c7b1;
}

.btn-yapear {
  background-color: #24c7b1;
  color: #fff;
  border: none;
}
/*FIN DE ESTILOS YAPE*/

/*INICIO ESTILOS MODAL TOKEN*/
.modal-yape {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  height: 30%;
  background-color: white;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  animation: slideIn 0.4s;
}

/*Configuracion*/
.head-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #001843;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

section button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  text-align: left;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 20px 30px;
  box-shadow: 1px 5px 16px rgb(116 116 116 / 76%);
}

.config.options{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.config.options > div label{
  color: #001743;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
  cursor: pointer;
}

.config.options > div label i{
  font-size: 40px;
}

.config.options > div input{
  appearance: none;
}

.config.options > div input:checked + label{
  box-shadow: 0 0 5px #ff7900;
  border-radius: 10px;
}

.modal_info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.modal_info i{
  width: 100%;
  height: 100% !important;
  text-align: center;
  font-size: 60px;
  color: #001743;
}

.modal .config.button_modal{
  flex-direction: row;
  gap: 10px;
}

.modal .config.button_modal button{
  width: 100%;
  margin: 10px 0;
}

section button i{
  font-size: 40px;
  color: #001743;
}

.section-config {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

  > div {
    padding: 20px 30px;
    gap:20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }

  > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
  }

  > div > div > div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  > div > div > div i {
    font-size: 30px;
  }

  > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  > div > div > div > div h3 {
    font-size: 16px;
    font-weight: 600;
    color: #001843;
  }

  > div > div > div > div span {
    font-weight: 500;
    color: rgb(92, 92, 92);
  }
}

/**Modals**/
.blur{
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px;
  z-index: 100;
  width: 350px;
}

.modal i {
  width: 100%;
  height: 20px;
}

.modal h2{
  text-align: center;
  margin-bottom: 5px;
  color: #001843;
}

.modal .description{
  color: #ABAAAA;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px 20px;
}

.form_verificacion input{
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #001843;
  color: #001843;
  width: 100%;
  margin-bottom: 10px;
}

.form_verificacion div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal button{
  color: #ffff;
  border: transparent;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.modal button.bloquear{
  background: #001843;
}
.modal button.bloquear:hover {
  background-color: #07317e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.modal button.aceptar{
  background: #ff7900;
}
.modal button.aceptar:hover {
  background-color: #fd9335;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.modal .button_modal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close{
  display: none;
}

@keyframes slideIn {
  from {
    bottom: -40%;
  }
  to {
    bottom: 0;
  }
}

.contenedor-modal {
  padding: 20px;
  text-align: center;
}

.contenedor-modal h3 {
  color: #700070;
  font-size: 16px;
}

.contenedor-token {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input-token {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 5px;
}

.input-token:focus {
  border-color: #700070;
  outline: none;
  box-shadow: 0 0 5px rgba(153, 0, 153, 0.5);
}

.botones-modal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-cancelar {
  background-color: #ffffff;
  color: #990099;
  padding: 10px 20px;
  border: 2px solid #990099;
  border-radius: 10px;
  cursor: pointer;
}

.btn-aceptar {
  background-color: #990099;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-yape.active {
  display: block;
}
/*FIN ESTILOS MODAL TOKEN*/

/*INICIO CÓDIGO YAPE*/
.contenedor-codigo-yape {
  display: flex;
  justify-content: center;
  align-items: center;
}

.codigo-yape {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.encabezado-codigo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado-codigo span {
  color: #b0b0b0;
  font-size: 12px;
}

.titulo-notificacion {
  margin-top: 15px;
  color: #001743;
  font-weight: bold;
  font-size: 14px;
}

.codigo-temporal {
  margin-top: 15px;
  color: #ff6600;
  font-weight: bold;
}
/*FIN CÓDIGO YAPE*/

@media (min-width: 576px) {

  .contenedor-cancelar > div {
    width: 500px;
  }

  nav {
    padding: 30px;
  }

  .primer_cuadro {
    width: 70%;
  }

  .fila_gr {
    grid-template-columns: 1fr 1fr;
  }

  section button{
    width: 450px;
  }

}

@media (min-width: 768px) {
  .primer_cuadro,
  .segundo_cuadro,
  button,
  input {
    font-size: 1.3rem;
  }

  .fila {
    margin: 30px auto;
    width: 75%;
    grid-template-columns: repeat(4, 1fr);
  }

  .izquierda {
    font-size: 1.5rem;
    align-items: flex-start;
    flex-direction: column;
  }

  .tarjeta > div {
    width: 520px;
    height: 120px;
  }

  .cuadro_superior {
    padding: 20px 60px 40px;
    flex-direction: row;
    gap: 30%;
  }

  .cuentas {
    display: flex;
  }

  .cuenta_1 {
    height: 200px;
    width: 200px;
  }

  .cuenta_2 {
    height: 150px;
    width: 150px;
    border-radius: 0px 10px 10px 0px;
  }

  .notificacion > span {
    font-size: 1.1em;
  }

  .tabs,
  .head-config, .section-config {
    padding: 20px 80px;
  }

  .tabs_encabezado {
    font-size: 2rem;
    gap: 50px;
    padding-bottom: 20px;
  }

  .tabs_body {
    overflow: none;
    gap: 30px;
  }

  .tab-link {
    width: 200px;
  }

  .footer_bar span {
    display: block;
  }

  .tab-link {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .tarjeta {
    align-items: center;
    flex-direction: row;
    font-size: 1.2rem;
  }

  main {
    gap: 30px;
  }

  .main_dashboard {
    gap: 10px;
  }

  main h1 {
    font-size: 2.5rem;
  }

  .flex {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 5rem;
  }

  .section-config > div >div{
    max-width: 400px;
  }

}

@media (min-width: 1200px) {
  nav {
    padding: 40px 60px 20px;
  }

  nav > img {
    width: 200px;
  }

  .primer_cuadro {
    width: 40%;
  }

  .fila {
    width: 50%;
  }

  .tabs_body {
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  canvas {
    width: 70%;
  }
}
